body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    background: linear-gradient(to right, #003366, #0066cc);
    color: white;
    padding: 15px;
}

/* MENU */
.menu {
    background: #222;
    text-align: center;
    padding: 10px;
}

.menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.menu a:hover {
    color: yellow;
}

/* IFRAME (khung trắng) */
iframe {
    width: 100%;
    height: 600px;
    border: none;
}

/* FOOTER */
.footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}
